@font-face {
    font-family: 'Tahoma'; /*a name to be used later*/
    src: url('fonts/tahoma.ttf'); /*URL to font*/
}

body{
    background-color: #000000;
    overflow: hidden;
}

#table2{
    position: relative;
    top: 40px;
}

.table-row{
    display: flex;
    position: relative;
    margin-top: 10px;
}

.table-element-empty{
    display: block;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    border: 1px solid black;
    visibility: hidden;
}

.table-element{
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-left: 10px;
    opacity: 1;
    transition: 0.5s;
    user-select: none;
    cursor: pointer;
}
.table-element-main{
    color: white;
    position: absolute;
    display: flex;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    background-color: black;
    z-index: 2;
}

.table-element-left-space{
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
}
.table-element-serial{
    position: relative;
    margin-top: 2px;
    left: 2px;
    font-size: 9pt;
    font-family: 'Tahoma';
}

.table-element-name{
    position: relative;
    top: -32px;
    left: 0px;
    text-align: center;
    font-size: 25pt;
    font-family: 'Times New Roman';
}

.table-element-name-full{
    position: relative;
    top: -67px;
    left: 2px;
    font-size: 7.5pt; 
    font-family: 'Tahoma';
}

.table-element-isotope{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: red;
    opacity: 0;
    z-index: 1;
    
}

.table-element-dividing-line{
    width: 0;
    height: 65%;
    top: 10%;
    position: relative;
    border: 1px solid white;
}

.table-element-isotope-num{
    font-family: 'Tahoma';
    font-size: 9pt;
    top: 17px;
    left: 5px;
    position: relative;
    margin-top: -14px;
}

.touchscreen{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 0;
    
    
}

.new-particle-text {
    position: absolute;
    top: 1100px;
    left: 400px;
    background-color: #000000;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    width: 1050px;
    height: 600px;
    font-size: 20pt;
    z-index: 3;
    user-select: none;
}
.continue_button {
    background-color: blue;
    bottom: -100px;
    user-select: none;
}
